@function rem($px) {
  @return $px / $baseFontSize + 0rem;
}




@mixin tablet {
  @media screen and (max-width: $tablets) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}