$blue: #61C4D9;
$green: #497870;
$darkGreen: #2E4E3F;
$gray: #666666;
$black: #292929;
$white: #ffffff;



$containerWidth: 960px;
$baseFontSize: 18px;
$headerFontSize: 48px;



$tablets-landscape:1258px;
$tablets: 768px;
$mobile: 480px;
$mobile-mini: 320px;
$mobile-mini-landscape: 568px;
$mobile-landscape:480px;
$iphoneX-landscape:375px;
