$blue: #61C4D9;
$green: #497870;
$darkGreen: #2E4E3F;
$gray: #666666;
$black: #292929;
$white: #ffffff;



$containerWidth: 960px;
$baseFontSize: 18px;
$headerFontSize: 48px;




$tablets: 768px;
$mobile: 480px;