.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  
    &::before {
      content: url("../img/benefits/Combined\ shape\ 2204.png");
      position: absolute;
      left: calc(100% - 20px);
      top: 50px;
    }
  
    &:last-child::before {
      content: none;
    }
  

    &__image {
      margin-bottom: 20px;
    }
  
    &__image-wrap {
      background: #F2F5F4;
      width: 128px;
      height: 128px;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  
    &__title {
      font-size: 27px;
      color: $black;
      margin-bottom: 18px;
    }
  }