
.btn {
  padding: rem(21px) rem(41px) rem(21px) rem(41px);
  border-radius: 100px;
  font-size: rem(16px);
  font-weight: 800;
  display: inline-block;
  color: $green;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;

  @include mobile {
    padding: rem(18px) rem(36px) rem(18px) rem(36px);
    font-size: rem (19px);
  }

  &_type_light {
    background: $white;
    transition: 0.3s;

    &:hover {
      background: $green;
      color: $white;
    }
  }

  &_type_dark {
    background: $green;
    transition: 0.3s;
    color: $white;

    &:hover {
      background: $white;
      color: $green;
    }
    &-submit {
      background: $darkGreen;
      color: $white;
      &:hover {
        background: $white;
        color: $darkGreen;
        transition: 0.3s;
    }
  }
}

  &_type_transparent {
    background: transparent;
    color: #000;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        color: $darkGreen;
    }
}
}