.feature {
  display: flex;
  margin-right: rem(53px);
  &:last-child {
    margin-right: 0px;
  }

  &__icon {
    fill: #C6F7FF;
    margin-right: 10px;
  }

  &__text {
    font-size: 16px;
    line-height: rem(18px);
  }
}

