.fixed-menu {
  position: fixed;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);

  @include tablets {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: rem(14px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &:last-child {
      margin-bottom: 0px;
    }

    &_active {
      width: rem(16px);
      height: rem(16px);
      border: 1px solid $white;
      border-radius: 50%;
      pointer-events: none;
    }
  }

  &__link {
    display: inline-block;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background: $white;
  }
}