.fullscreen-menu {
    
    flex-direction: column;
    background: #2e3336;
    display: none;
  
    &.active {
      display: flex;
    }
  }
  
  .fullscreen-menu__close {
    display: block;
    position: absolute;
    top: rem(25px);
    right: rem(25px);
  }
  
  
  .fullscreen-menu__close-icon{
    width: rem(18px);
    height: rem(18px);
    fill: #c2c2c3;
  }
  