.hamburger {
    width: rem(24px);
    height: rem(20px);
    flex-direction: column;
    justify-content: space-between;
    display: none;
    cursor: pointer;
  
    @include tablets {
      display: inline-flex;
    }
    &__plank {
        display: block;
        background: #fff;
        height: rem(4px);
        border-radius: rem(10px);
      }
  }
  
  