.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  

  

  @include mobile {
    padding: 0;
  }

  &__logo {
    margin-right: rem(40px);
    @include mobile {
      margin-right:0px;
    }
    @include mobile-mini {
      margin-right:0px}
    
  }

  &__phone {
    padding-top: rem(4px);
    position: relative;
    @include mobile-mini-landscape {
      display: none;
    }
    @include iphoneX-landscape {
      display: none;
    }
    @include mobile-landscape {
      display: none;
    }

    @include tablets {
      display: none;
    }

    &-link {
      font-size: rem(22px);
      display: flex;
      align-items: center;
    }

    &-icon {
      width: rem(24px);
      height: rem(24px);
      padding-right: rem(10px);
      fill: #fff;
    }
  }
}