.headline {
    text-align: center;
    margin-bottom: 50px;
  
    &__title {
      margin-bottom: 18px;
      color: $black;
    }
  
    &__subtitle {
      max-width: 44%;
      margin: 0 auto;
    }
  
  }