.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  @include tablet {
    padding: 0 rem(20px);
  }

  @include mobile {
    padding: 0;
  }

  &__logo {
    margin-right: rem(40px);
  }

  &__phone {
    padding-top: rem(4px);
    position: relative;

    &-link {
      font-size: 22px;
      display: flex;
      align-items: center;
    }

    &-icon {
      width: 24px;
      height: 24px;
      padding-right: rem(10px);
      fill: #fff;
    }

    @include tablet {
      display: none;
    }
  }
}