.headline {
  text-align: center;
  margin-bottom: rem(46px);

  &__title {
    margin-bottom: rem(13px);
    color: $black;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    max-width: 44%;
      margin: 0 auto;

    @include tablet {
      max-width: 55%;
      margin: 0 auto;
    }

    @include mobile {
      max-width: 85%;
      margin: 0 auto;
    }
  }

}