.hero {
  min-height: 100vh;
  color: $white;
  background: url('../img/bg/leaf.png') right bottom no-repeat;
  background-color: $blue;
  position: relative;
  @include mobile-mini-landscape {
    margin-bottom: rem(148px);
  }
  @include mobile-mini-landscape {
    margin-bottom: rem(72px);
  }

  @include tablets {
    background-position: right bottom 81%;
  }

  @include mobile {
    background-position: right bottom 91%;
    background-size: 68%;
  }
  
  @include iphoneX-landscape {
    margin-bottom: 100px;
  }
  

  

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: rem(20px);
    padding-bottom: rem(50px);
    background: url('../img/bg/chocco-full.png') right center / 52% auto no-repeat;
    @include mobile-mini-landscape {
      background: url('../img/bg/chocco-full.png') right top / 52% auto no-repeat;
    }

    @include tablets {
      background: none;
    }
    &__full {
      width: 100%;
    }
  }

  &__text {
    position: relative;
    max-width: 40%;
    margin-bottom: auto;
    margin-top: auto;
    @include tablets-landscape {
      margin-bottom: rem(100px)
    }
    @include mobile-mini-landscape {
      max-width: 52%;
      margin-bottom: rem(84px);
    }
    @include iphoneX-landscape {
      margin-bottom: 100px;
    }
    

    @include tablets {
      max-width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      &::before {
        content: "";
        background: url('../img/bg/chocco-full.png') center center / contain no-repeat;
        width: rem(316px);
        height: rem(330px);
        margin-bottom: rem(16px);
      }
    }

    @include mobile {
      margin-bottom: 2%;
    }
  }

  &__heading {
    margin-bottom: rem(17px);
    font-size: rem(48px);
    font-weight: 700;
    text-transform: uppercase;
    line-height: rem(57.6px);
    @include mobile-mini-landscape {
      font-size: rem(24px)
    }

    @include tablets {
      font-size: rem(48px);
      margin-bottom: rem(4px);
    }

    @include mobile {
      padding: 0 5%;
      font-size: rem(40px);
      line-height: rem(40px);
    }


  }

  &__description {
    font-size: rem(21px);
    margin-bottom: rem(27px);
    max-width: 96%;

    @include tablets {
      padding: 0 23%;
      margin-bottom: rem(20px);
    }

    @include mobile {
      padding: 0 8%;
      
    }
  }
}