

.interactive-avatar {
  width: rem(74px);
  height: rem(74px);
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid transparent;
  
  &:hover {
    border-color: $green;
    transition: 0.5s;
  }

  &:last-child {
    margin-right: 0;
  }

  @include mobile {
    width: rem(64px);
    height: rem(64px);
    margin-right: rem(10px);
  }

  &_active {
    border: 6px solid $green;

  }


  &__link {
    display: block;
    
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

