.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  z-index: 10;
  &_show {
   display: flex;
   align-items: center; 
  }

  &__close {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 3%;
    right: 6%;
  }
}