.menu {
  flex: 1;
  padding-top: rem(7px);

  @include tablets {
    display: none;
  }

  &__list {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    margin-right: rem(28px);
    margin-bottom: rem(10px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: $baseFontSize;
    display: inline-block;
  }
  &_mobile {
    @include tablets {
      display: block;
    }
    font-size: rem(36px);
    color: #fff;
    text-align: center;

    .menu__list {
      display: flex;
      flex-direction: column;
    }

    .menu__item {
      margin-right: 0;
    }
    .menu__link{
      font-size: rem(36px);
    }
  }
}
