.menu {
  flex: 1;
  padding-top: rem(7px);

  @include tablet {
    display: none;
  }

  &__list {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    margin-right: rem(28px);
    margin-bottom: rem(10px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: $baseFontSize;
    display: inline-block;
  }
}