.order-section {
  background: url("../img/bg/form-bg.png") no-repeat;
  background-size: cover;
  color: $green;
  position: relative;

  &:before {
    content: url("../img/bg/order-decor-1.png");
    position: absolute;
    right: 2%;
    bottom: 10%;

    @include tablets {
      content: none;
    }
  }

  &:after {
    content: url("../img/bg/order-decor-2.png");
    position: absolute;
    left: 2%;
    bottom: 10%;

    @include tablets {
      content: none;
    }
  }

  &__title {
    color: inherit;
    margin-bottom: rem(54px);
    position: relative;
    z-index: 10;

    @include tablets {
      margin-bottom: rem(20px);
    }

    @include mobile {
      margin-bottom: rem(28px);
    }
  }
}