.reviews {
  &__section-title{
  margin-bottom: rem(32px);
}
&__content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 12%;

  @include tablets{
    padding:0 ;
  }
  @include mobile-mini-landscape{
    padding:0 ;
  }
}
&__title{
  font-size: rem(27px);
  font-weight: 700;
  margin-bottom: rem(10px);
  color: black;
}
&__text{
  margin-bottom: rem(22px);
  line-height: 1.3;
  
}
&__author{
  font-weight: 500;
  color:black;
}
&__switcher{
  display: flex;
  justify-content: center;
  &-item{
    margin-right: rem(4px);
  
    &:last-child{
      margin-right: 0;
    }
  }
}
&-section{
  position: relative;
  @include mobile-mini {
    margin-bottom: rem(25px);
  }
  @include mobile-mini-landscape {
    margin-bottom: rem(295px);
  }
  @include iphoneX-landscape {
    margin-bottom: rem(100px);
  }


  &:before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 3%;
    right:3%;
    width: rem(136px);
    height: rem(86px);
    background: url('./../img/bg/strawberry.png') center / contain no-repeat;

    @include tablets{
      right: -4%;
    }
    @include mobile-mini-landscape{
      top: -50%;
    }
    @include iphoneX-landscape{
      top: -16%;
    }
  }

  &:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4.4444444444rem;
    width: 7.5555555556rem;
    height: 11.2222222222rem;
    background: url("./../img/bg/reviews-decor-2.png") center/contain no-repeat;

    @include mobile{
      bottom: rem(-150px);
    }
    @include mobile-mini-landscape{
      bottom: rem(-300px);
    }
    
    
  }

}
  &__display{
    background: #F8FAF9;
    padding: rem(50px) rem(45px) rem(34px);
    margin-bottom: rem(15px);
    position: relative;
    overflow: hidden;
    
  
    &:before{
      content: "";
      position: absolute;
      right: 0;
      top:5%;
      width: rem(128px);
      height: rem(176px);
      background: url('./../img/bg/reviews-leaf.png') center / contain no-repeat;
      @include mobile-mini {
        width: rem(108px);
      }
    }
  
    &:after{
      content: "";
      display: block;
      width: rem(90px);
      height: rem(90px);
      background: #fff;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top:rem(-65px);
  
      @include mobile{
        display: none;
      }
      @include mobile-mini-landscape{
        display: none;
      }
    }
  
    @include tablets{
      margin-bottom: rem(25px);
    }
  }
  &__item{
    display: none;
  
    @include tablets{
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    @include mobile-mini-landscape{
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    &-active{
    display: flex;
  }
  }
  &__avatar{
    width: rem(254px);
    height: rem(260px);
    margin-right: rem(30px);
    @include tablets{
      width: rem(139px);
      height: rem(139px);
      margin-right: 0;
      margin-bottom: rem(30px);
    }
    @include mobile-mini-landscape{
      width: rem(139px);
      height: rem(139px);
      margin-right: 0;
      margin-bottom: rem(15px);
    }
    &-img{
      object-fit: cover;
      width: 100%;
      height: 100%;

  }
}

&__decor{
  position: absolute;
  left: 0;
  bottom: rem(-138px);

  @include mobile{
    width: rem(84px);
    height: rem(267px);
  }

  
  @include mobile-mini-landscape{
    margin-bottom: rem(-300px);
  }
}
}


