.sliders {
  position: relative;

  &__container {
    padding: 0 39px;

    @include mobile {
      padding: 0 10px;
    }
  }

  @include tablets {
    margin: 0 12%;
  }

  @include mobile {
    margin: 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: rem(10px) 0;
  }

  &__controls {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;

    @include tablets {
      top: 28%;
    }

    @include mobile {
      top: 20%;
    }

    &_left {
      left: -40px;

      @include tablets {
        left: 20px;
      }

      @include mobile {
        left: -5px;
      }
    }

    &_right {
      right: -100px;

      @include tablets {
        right: -21px;
      }

      @include mobile {
        right: -5px;
      }
    }
  }

  .sliders__arrow {
    stroke: $black;
  }
}