.products{
  background: #F8FAF9;

}

.product{
  display: flex;
  
  @include tablets{
    flex-direction: column;
    align-items: center;
  }
}

.products-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.product__desc-wrapper{
  width: 39%;

  @include tablets{
    width: 70%;
    text-align: center;
  }

  @include mobile{
    width: 100%;
  }
}



.product__desc{
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-img{
  position: relative;
  width: 58%;

  @include tablets{
    width: rem(362px);
    height: rem(342px);
  }

  @include mobile{
    height: rem(300px);
  }
  
}

.product-img__png{
  max-height: 100%;
  object-fit: cover;
  margin: auto;
}





.product__title{
  font-size: rem(36px);
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;

  
}

.product__text{
  margin-bottom: 12px;
  @include mobile{
      max-width: 81%;
      margin: auto;
    }
}

.product__info{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;

  @include tablets{
    justify-content: center;
  }
}

.info-value{
  color: black;
  font-weight: bold;
}

.product__calories{
  margin-right: 9%;
}

.product__order{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  @include tablets{
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.product__order-price{
  font-size: rem(60px);
  font-weight: 300;
  color: black;
  margin-right: rem(38px);
  white-space: nowrap;
}

.arrow-left{
    stroke: black;
  position: absolute;
  left:1%;

  @include tablets{
    left: 18%;
    top: 24%;
  }

  

  @include mobile{
    left: 2%;
    top: 22%;
  }
}

.arrow-right{
  stroke: black;
  position: absolute;
  right: -2%;

  @include tablets{
    right: 15%;
    top:24%;
  }

  @include mobile{
    right: 2%;
    top: 22%;
  }
}