.sliders {
  position: relative;

  &__container {
    padding: 0 rem(39px);

    @include mobile {
      padding: 0 rem(10px);
    }
  }

  @include tablets {
    margin: 0 12%;
  }

  @include mobile {
    margin: 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: rem(10px) 0;
  }

  &__controls {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 rem(10px);

    @include tablets {
      top: 28%;
    }

    @include mobile {
      top: 20%;
    }

    &_left {
      left: rem(-40px);

      @include tablets {
        left: rem(20px);
      }

      @include mobile {
        left: rem(-5px);
      }
    }

    &_right {
      right: rem(-100px);

      @include tablets {
        right: rem(-21px);
      }

      @include mobile {
        right: rem(-5px);
      }
    }
  }

  .sliders__arrow {
    stroke: $black;
  }
}