.slide {
    display: flex;
    justify-content: space-between;
  
    @include tablets {
      flex-direction: column;
      align-items: center;
    }
  
    &__left-block {
      width: 60%;
      display: flex;
      align-items: center;
      padding-left: rem(40px);
  
      @include tablets {
        width: 100%;
        justify-content: center;
        margin-bottom: rem(26px);
        padding-left: 0;
      }
    }
  
    &__picture {
      position: relative;
  
      @include tablets {
        width: 80%;
      }
  
      &::before {
        content: "";
        width: 75px;
        height: 92px;
        position: absolute;
        right: 93%;
        top: 28%;
        background: url("./../../img/bg/slider-list-top.png") no-repeat;
        background-size: contain;
  
        @include tablets {
          width: 60px;
          height: 80px;
        }
  
        @include mobile {
          width: 64px;
          height: 66px;
          right: 100%;
          top: 15%;
        }
      }
  
      &::after {
        content: "";
        width:99px;
        height: 73px;
        position: absolute;
        left: 80%;
        top: 90%;
        background: url("./../../img/bg/slider-list-bot.png") no-repeat;
        background-size: contain;
  
        @include tablets {
          width: 75px;
          height: 70px;
          left: 80%;
          top: 89%;
        }
  
        @include mobile {
          width: 70px;
          height: 70px;
          left: 87%;
          top: 85%;
        }
      }
    }
  
    &__right-block {
      width: 40%;
  
      @include tablets {
        width: 100%;
        text-align: center;
      }
  
      @include mobile {
        width: 85%;
      }
    }
  
    &__right-block {
      display: flex;
      flex-direction: column;
    }
  
    &__structure {
      margin-bottom: rem(20px);
  
      @include tablets {
        display: none;
      }
    }
  
    &__heading {
      font-size: 36px;
      text-transform: uppercase;
      color: $black;
      margin-bottom: rem(23px);
      line-height: rem(44px);
  
      @include tablets {
        font-size: 30px;
        margin-bottom: rem(10px);
      }
    }
  
    &__description {
      line-height: rem(22px);

      
    }
  
    &__row {
      display: flex;
      align-items: center;
      margin-bottom: rem(18px);
  
      @include tablets {
        justify-content: center;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  
    &__char {
      margin-right: rem(44px);
  
      @include tablets {
        margin-right: rem(50px);
        text-align: left;
      }
  
      &:last-child {
        margin-right: 0;
      }
    }
  
    &__char-title {
      line-height: rem(22px);
    }
  
    &__char-val {
      color: $black;
      font-weight: 700;
    }
  
    &__price {
      color: $black;
      font-size: 60px;
      margin-right: rem(30px);
      white-space: nowrap;
    }
    &__image {
      
      background: url() ,url("./../../img/bg/Эллипс.png") center 60%/20rem no-repeat, url("../../img/bg/Эллипс\ \(1\).png") center 80%/20rem no-repeat;
    }
  }